* {
    box-sizing: border-box;
}

body {
    line-height: 1.4;
}

.navbar-toggler-icon button{
  background-color: #000 !important;
}


/* NAVBAR */
.navbar {
    border-bottom: 1px solid #635e5e7c;
    color: #ffff;
    padding: 30px;
}

.navbar .navbar-nav .nav-link {
    font-weight: 700;
    color: rgba(128, 128, 128, 0.815);
    margin-left: 0.5rem !important;
}

.navbar .navbar-nav .information {
    color: #092032;
    cursor: default;
}

.collapse .btn-dangerous:hover {
    color: #fff;
    background-color: #b93131 ;
}


.navbar .navbar-nav .information:hover {
    color: #092032 !important;
}

.navbar .navbar-nav .nav-link:hover,
.navbar-brand:hover {
    color: rgb(247, 37, 133);
    transition: 0.5s ease;
}

.navbar .navbar-nav .nav-link li {
    font-size: 2rem;
}

.navbar-brand {
    font-weight: 700;
    font-size: 16px;
    margin-left: auto;
}

.btn {
    padding: 9px 24px;
    font-weight: 500;
}

.btn-brand {
    background-color: #092032;
    font-weight: 700;
    color: #516171;
}

.btn-brand:hover {
    background-color: #092032;
    color: rgb(247, 37, 133);
}

.collapse .btn-dangerous {
    background-color: #ff0000 !important;
    color: #ffff !important;
    width: 200px;
}

.collapse .btn-dangerous:hover {
    background-color: #e20a0a !important;
    color: #fff !important;
}

/*SECTION UN */
.section-un {
    height: 785px !important;
    margin-bottom: 80px !important;
}

.commandes h1 {
    font-weight: 800;
}

.commandes .btn-danger {
    background-color: #ff0000 !important;
    color: #ffff;
    width: 19rem;
}

.commandes .btn-danger:hover {
    background-color: #e20a0a !important;
    color: #fff !important;
}

.commandes .btn-primary {
    width: 19rem;
}

.commandes .btn-primary:hover {
    background-color: rgba(0, 0, 255, 0.918)!important;
}

.little-section {
    margin-top: 30px !important;
    font-size: 1.2rem;
    color: #516171;
}

.little-section strong {
    color: #000 !important;
}

/*SECTION DEUX */
.section-deux {
    height: 550px !important;
    background-color: #061a1b;
    margin-top: 80px;
    top: 914px;
}

.section-deux .content {
    margin-top: 50px !important;
}

.content h1 {
    font-size: 2rem;
}

@media screen and (max-width: 991px) {
    .section-un .img-fluid {
        max-width: 50% !important;
    }
}

@media screen and (max-width: 500px) {
    .section-deux .img-fluid {
        max-width: 30% !important;
    }
}

/*SECTION TROIS*/
.section-trois {
    padding: 40px;
    display: flex;
    align-items: center;
    height: 400px;
}

.section-trois form button {
    background-color: red;
    color: #ffff;
}

.section-quatre button {
    background-color: #ff0000 !important;
    color: #ffff !important;
}

.section-quatre button:hover {
    background-color: #e20a0a !important;
    color: #fff !important;
}

.section-trois .btn {
    color: #fff !important;
    background-color: #ff0000;
}

.section-trois .btn:hover {
    color: #ffff !important;
    background-color: #e20a0a !important;
}

/*SECTION cINQ*/
.section-cinq {
    margin-bottom: 80px;
    align-items: center !important;
    justify-content: center !important;
    padding: 100px !important;
}

.section-cinq .shadow {
    padding: 50px !important;
}

.card-body {
    padding: 20px;
}

/*FOOTER*/
footer {
    padding: 50px;
    height: 576px !important;
}

footer .last-li {
    font-size: 20px;
    margin-left: 30px;
}
